nodered-backend-flows.json
[{"id":"b1b7dbb1.a51dc8","type":"template","z":"2f2bdbdc.046684","name":"webapp","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!--put the index.html in here-->","output":"str","x":620,"y":60,"wires":[["a5ff6488.0deec8"]]},{"id":"57913b2a.9da914","type":"http in","z":"2f2bdbdc.046684","name":"","url":"/app/water","method":"get","upload":false,"swaggerDoc":"","x":160,"y":60,"wires":[["b1b7dbb1.a51dc8"]]},{"id":"a5ff6488.0deec8","type":"http response","z":"2f2bdbdc.046684","name":"","statusCode":"","headers":{},"x":750,"y":60,"wires":[]},{"id":"9a72438e.c0bd7","type":"function","z":"2f2bdbdc.046684","name":"get state","func":"let state = JSON.parse(JSON.stringify(flow.get(\"state\")));\n\nlet date = new Date()\nlet currentMinutes = date.getMinutes() + (60 * date.getHours());\n\nmsg.payload = {}\nObject.entries(state).forEach(e => {\n    let elem = e[1];\n    elem.active = elem.override;\n    if (elem.active === null) {\n        elem.active = elem.timeRanges.some(range =>\n            (currentMinutes >= range[0] && currentMinutes < range[1]) ||\n            (range[1] < range[0] && (currentMinutes >= range[0] || currentMinutes < range[1]))\n        )\n    }\n    msg.payload[e[0]] = elem;\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":180,"wires":[["50daf0ad.4dac6"]]},{"id":"bf72535c.91928","type":"http in","z":"2f2bdbdc.046684","name":"","url":"/app/water/api","method":"get","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["82bac783.142ee8"]]},{"id":"86375378.8e845","type":"http response","z":"2f2bdbdc.046684","name":"","statusCode":"","headers":{},"x":1130,"y":180,"wires":[]},{"id":"55089bbe.b83774","type":"function","z":"2f2bdbdc.046684","name":"set state","func":"let state = flow.get(\"state\");\n\nObject.entries(msg.payload).forEach(e => {\n    let source = e[1];\n    var target = state[e[0]];\n    \n    if ([true, false, null].includes(source.override))\n        target.override = source.override;\n        \n    if (Array.isArray(source.timeRanges) && source.timeRanges.every(range => Array.isArray(range) && range.length === 2))\n        target.timeRanges = source.timeRanges;\n});\n\nflow.set(\"state\", state);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":120,"wires":[["82bac783.142ee8","aec004a6.debeb8"]]},{"id":"db4a9040.8f12f","type":"http in","z":"2f2bdbdc.046684","name":"","url":"/app/water/api","method":"post","upload":false,"swaggerDoc":"","x":170,"y":120,"wires":[["b64776fa.88b968"]]},{"id":"b64776fa.88b968","type":"json","z":"2f2bdbdc.046684","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":120,"wires":[["55089bbe.b83774"]]},{"id":"82bac783.142ee8","type":"change","z":"2f2bdbdc.046684","name":"0 mux","rules":[{"t":"set","p":"topic","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":180,"wires":[["9a72438e.c0bd7"]]},{"id":"50daf0ad.4dac6","type":"switch","z":"2f2bdbdc.046684","name":"demux","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":970,"y":180,"wires":[["86375378.8e845"],["9cd49c06.f1874"]]},{"id":"aec004a6.debeb8","type":"change","z":"2f2bdbdc.046684","name":"1 mux","rules":[{"t":"set","p":"topic","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":240,"wires":[["9a72438e.c0bd7"]]},{"id":"5c77143.e1966ec","type":"inject","z":"2f2bdbdc.046684","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":240,"wires":[["aec004a6.debeb8"]]},{"id":"9cd49c06.f1874","type":"split","z":"2f2bdbdc.046684","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":320,"wires":[["70d20b60.def524"]]},{"id":"70d20b60.def524","type":"change","z":"2f2bdbdc.046684","name":"key","rules":[{"t":"set","p":"payload.key","pt":"msg","to":"parts.key","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"parts.key","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":360,"wires":[["dc0fa0a8.927e4"]]},{"id":"64f3fcdc.6d6674","type":"rbe","z":"2f2bdbdc.046684","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.active","x":670,"y":440,"wires":[["36eea83.9c1f258"]]},{"id":"dc0fa0a8.927e4","type":"switch","z":"2f2bdbdc.046684","name":"active?","property":"payload.active","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":400,"wires":[["64f3fcdc.6d6674","93a8a03f.8705f"],["64f3fcdc.6d6674"]]},{"id":"93a8a03f.8705f","type":"function","z":"2f2bdbdc.046684","name":"->","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":480,"wires":[["c75c34f3.5f6b18"]]},{"id":"36eea83.9c1f258","type":"filter","z":"2f2bdbdc.046684","name":"!active?","property":"payload.active","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"false","output":1}],"checkall":"true","outputs":1,"x":680,"y":480,"wires":[["93a8a03f.8705f"]]}]